* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-family: Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    text-align: center;
    color: #474747;
    font-size: 62.5%;
}

header {
    background-image: url(../recursos/imagenes/header-background.png);
    background-size: cover;
    padding: 1px;
}

header img {
    display: block;
    margin: 3% auto;
    width: 137px;
}

.title-section div{
    width: 90%;
    margin: 12% auto 0;
}

.title-section h1 {
    font-size: 1.7rem;
    font-weight: 400;
    line-height: 2.3rem;
    text-transform: uppercase;
}
.title-section p {
    margin-top: 5%;
    font-size: 1.4rem;
    font-weight: 350;
    line-height: 2rem;
}

.user-info {
    margin-bottom: 7%;
}

.user-info p {
    margin: 2% auto;
    font-size: 1.2rem;
    font-weight: 600;
    line-height: 2rem;
    text-align: left;
    width: 90%;
    display: inline-block;
    color:#dd9f2e;
}

.user-info .user-input ,.mail-input {
    padding: 3%;
    font-size: 1rem;
    width: 90%;
}

.cursos-section .mail-input {
    margin-bottom: 5%;
}

.enviar-y-ocultar {
    display: none;
}

#validador {
    display: none;
}

#show > div {
    margin-bottom: 5%;
}

.parrafo-datos {
    margin: 2% auto;
    font-size: 1.4rem;
    font-weight: 350;
    line-height: 2rem;
    width: 90%;
    display: inline-block;
}

.parrafo-tachado {
    margin: 2% auto;
    font-size: 1.3rem;
    font-weight: 250;
    line-height: 1.8rem;
    width: 90%;
    display: inline-block;
    text-decoration: line-through;
}

.parrafito-datos {
    margin: 2% auto;
    font-size: 0.9rem;
    font-weight: 300;
    line-height: 1.3rem;
    width: 90%;
    display: inline-block;
}

.contenedor-datos {
    display: flex;
    flex-wrap: wrap;
}

.div-datos {
    font-size: 1rem;
    font-weight: 350;
    line-height: 1.6rem;
    text-align: center;
    color: black;
    box-shadow: 3px 3px 5px 3px #cacaca;
    opacity: 0.8;
    border-radius: 5px;
    width: 90%;
    margin: 1% auto 3%;
    padding: 2%;
}

.div-datos:hover {
    opacity: 1;
}

.lista-datos {
    list-style: none;
}

.temporal {
    font-size: 1.3rem;
    font-weight: 600;
    color: #dd9f2e;
    text-align: center;
}

.lista-datos span{
    display: block;
    color: #474747;
    font-size: 1.5rem;
    margin: 10px 0;
}

.financers-section {
    margin: 10% auto 10%;
}

.h2{
    border-top: 2px solid #dd9f2e;
    width: 90%;
    margin: 10% auto 5%;
    padding: 10% 0 0 0;
    font-size: 1.5rem;
    font-weight: 350;
    line-height: 2rem;
}

.h2 .resaltar{
    font-size: 1.5rem;
    font-weight: 700;
    line-height: 2rem;
    color: #dd9f2e;
}

.resaltar {
    font-weight: 600;
    color: #dd9f2e;
}

.financers-section img{
    width: 100%;
    margin: 2% 0 0 0;
}

main {
    margin: 3% auto;
}

.info-section {
    margin-bottom: 10%;
}

.info-section .imagen-info-section img{
    width: 100%;
    margin: 5% auto 0;
}

.porcentaje-section {
    margin: 15% auto 0;;
    width: 80%;
}

.porcentaje-section img{
    display: block;
    margin: 3% auto;
    min-width: 150px;
    width: 50%;
    margin-bottom: 5%;
    padding-bottom: 5%;
    border-bottom: 2px solid #dd9f2e;
}

.porcentaje-section p {
    font-size: 1.5rem;
}

.cta-div{
    margin-top: 8%;
}

.cta-button {
    font-size: 1.2rem;
    font-weight: bold;
    letter-spacing: 0.2rem;
    color: white;
    background-color: #dd9f2e;
    border: none;
    padding: 2% 20%;
    border-radius: 25px;
}

.cta-button:hover {
    cursor: pointer;
    transform: scale(0.95);
}

#cursos img {
    width: 90%;
}

.titulo-curso {
    font-weight: 700;
}

.mostrar-precio {
    margin: 3% auto 0;
    font-size: 1rem;
    font-weight: bold;
    letter-spacing: 0.2rem;
    color: white;
    background-color: #dd9f2e;
    border: 2px solid white;
    padding: 2% 20%;
    border-radius: 25px;
}

.mostrar-precio:hover {
    cursor: pointer;
    transform: scale(0.95);
}

#arriba {
    border: none;
    box-shadow: 1px 1px 2px 1px #cacaca;
    padding: 1% 1%;
    border-radius: 25px;
    opacity: 0.5;
    display: none;
    position: fixed;
    bottom: 100px;
    right: 20px;
}

#arriba:hover {
    opacity: 1;
    cursor: pointer;
}

footer {
    background-color: #979797;
    margin-top: 15%;
    padding: 4% 6%;
}

.logo-footer img{
    width: 114px;
}

.logo-footer p{
    margin-top: 3%;
    font-size: 1rem;
    font-weight: 500;
    color: white;
}

.redes img {
    width: 39.56px;
    margin-top: 5%;
}
.redes img:hover {
    transform: scale(0.95);
}